<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>



<h2>Find a Show</h2>
<form method="GET" action="/results">
  <input type="text" name="search" placeholder="search" />
  <button type="submit" name="submit">Make my evening</button>
</form>
<h2>Search for a show by title, company, venue, or zip code and OnTheTown will provide you with a listing of information to plan out the perfect evening.  After choosing your event, OnTheTown will looks for any restaurants, bars, and clubs nearby as well as any GroupOn deals for places in the vicinity.</h2>
