<div class="home">
  <div class="home-content">
    <h2>Find a Show</h2>
    <div class="form">
      <div class="search-row">
        <form method="GET" action="/results">
          <input type="text" name="search" placeholder="search" autofocus/>
          <button type="submit" name="submit">Make my evening</button>
        </form>
      </div>
    </div>
    <div class="element">
      <h3>Search for a show and OnTheTown will provide you with a listing of relevent events and restaurants close by to plan out the perfect evening.</h3>
    </div>
  </div>
</div>

