<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OnTheTown</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  <% JSON.stringify(currentUser) %>
  <% include partials/alerts %>
    <nav>
      <h1>OnTheTown</h1>
      <div class="center-nav">
        <div class="nav-hide">
        <% if (!currentUser) {%>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
          <button type="button" class="nav-button" data-toggle="modal" data-target="#myModal" id="login">LogIn</button>
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form method="POST" class="auth-form" action="/auth/login" >
                  <h1>Login to Your Account</h1>
                  <div class="form-row-wrap">
                    <div class="form-row">
                      <label for="email">email:</label>
                      <input type="email" id="loginFocus" name="email" placeholder="me@google.com">
                    </div>
                  </div>
                  <div class="form-row-wrap">
                    <div class="form-row">
                      <label for="password">Password:</label>
                      <input type="password" name="password">
                    </div>
                  </div>
                  <input class="form-button" type="submit">
                </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="nav-button" data-toggle="modal" data-target="#secondModal" id="signup">SignUp</button>
        <div class="modal fade" id="secondModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form method="POST" class="auth-form" action="/auth/signup">
                  <h1>Signup for an Account</h1>
                  <div class="form-row-wrap">
                    <div class="form-row">
                      <label for="name" >Name:</label>
                      <input type="text"  id="signupFocus" name="name" placeholder="Marilyn Monroe">
                    </div>
                  </div>
                  <div class="form-row-wrap">
                    <div class="form-row">
                      <label for="email">email:</label>
                      <input type="email" name="email" placeholder="me@google.com">
                    </div>
                  </div>
                  <div class="form-row-wrap">
                    <div class="form-row">
                      <label for="password">Password:</label>
                      <input type="password" name="password">
                    </div>
                  </div>
                  <input class="form-button" type="submit">
                </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <% if (currentUser) { %>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      <% } %>
      <div class="hamb">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="caret"></span>
            <ul class="dropdown-menu pull-right thinner" aria-labelledby="dropdownMenu1">
          </button>
          <% if (currentUser) { %>
              <li><a href="/">Home</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/auth/logout">Logout</a></li>
          <% } %>
          <% if (!currentUser) { %>
              <li><a href="/">Home</a></li>
              <li><a href="/auth/login">LogIn</a></li>
              <li><a href="/auth/signup">Signup</a></li>
          <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="full-container">

      <%- body %>
    </div>

    <div class="footer">
      <span class="footer-boxes"><a href="mailto:jamierkarlovich@gmail.com">Contact Us</a></span>
      <span class="footer-boxes">&#169; OnTheTown</span>
      <span class="footer-boxes"><span class="small-hide">Website Created By: </span><a href="http://www.jamiekarlovich.com/">Jamie Karlovich</a></span>
    </div>

    <script src="//code.jquery.com/jquery.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/script.js"></script>

  </body>
</html>


